
body
{
    background-color: black; 
    color: yellowgreen; 
}

.image
{
    border: solid green;
    margin:5px;

}

.image:hover {
    border: solid red;
    }


.modal 
{
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;

  }


.modalContent 
{
    background-color: lightgrey;
    display:flex;
    flex-wrap:wrap;
    overflow: auto;
    color:black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; 
}

#datas_modal_text
{
    width: 50%;
}
#datas_modal_img{
    width: 50%; 

}

.modalItems
{
    font-weight: bold;
}

.imageModal
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
/*
#datas_modal_text
{
    
    float:left;
    width: 50%;

}


#datas_modal_img{
    margin-top: 20px;
    margin-left: 50%; 

    
}*/


#button_modal
{
    width: 100%;
    display: flex;
    justify-content: center;

}

#other_best_movie, #cat_1, #cat_2
{
    text-align: center;
}

.arrowLeft,.arrowRight
{
    cursor: pointer;
    /*transition: opacity 0.3s ease;
    opacity: 0;*/
    position: absolute;
    display: inline;
    
    font-size: 100px;
    color: rgba(220, 220, 220, 0.8);
    /*background-color: rgba(0, 0, 0, 0.8);*/
    padding: 10px;
}


.unselectable { 
    -webkit-user-select: none; 
    -webkit-touch-callout: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;    
    } 






.arrowLeft {
    left: 0;
}

.arrowRight {
    right: 0;
}

.divImage
{
    display: inline;
    margin: 0 10px;
}
