
body
{
    background-color: black; 
    color: yellowgreen; 
}

.header
{
    margin-top: 20px;
    margin-bottom: 25px;
}
.categoryName
{
    text-align: center;
    
}

.unselectable 
{ 
    -webkit-user-select: none; 
    -webkit-touch-callout: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;    
} 


.image
{
    border: solid green;
    cursor: pointer;

}

.image:hover 
{
    border: solid red;
}

.divImage
{
    display: inline;
    margin: 0 10px;
}


/* best movie */
.imageBestMovie
{
    width: 20%;
    height: auto;
    margin-left: 15px;
}
.bestMovieInfos
{
    position:relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 30px;
    border:  solid green;
    padding: 0 15px 0 15px;
}

#best_movie
{
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
#title_best_movie
{
    text-align: center;
}
#description_best_movie
{
    text-align: justify;
    padding: 0 5px;
    height: 200px;
    overflow: auto;
}

.button
{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 8px;
    padding: 10px;
    border: 5px solid green;
    background-color: lightgray; 
    border-radius: 10px;
    color: black;
    font-size: 15px;
}

.button:hover
{
    border: 5px solid red;
}

/* modal windows */
.modal 
{
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;

  }


.modalContent 
{
    background-color: lightgrey;
    display:flex;
    flex-wrap:wrap;
    color:black;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 70%; 
}

#datas_modal_text
{
    width: 50%;

}
#datas_modal_img{
    width: 50%; 

}

.modalItems
{
    font-weight: bold;
}

.imageModal
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.buttonClose
{
    border: 3px solid green;
    background-color: lightgray; 
    border-radius: 10px;
    color: black;
    font-size: 15px;
}



#button_modal
{
    width: 100%;
    display: flex;
    justify-content: center;

}

#other_best_movie, #cat_1, #cat_2, #cat_3
{
    display: flex;
    justify-content: center;

}

.arrowLeft,.arrowRight
{
    cursor: pointer;
    position: relative;
    display: inline;
    font-size: 100px;
    color: rgba(220, 220, 220, 0.8);
    padding: 10px;
}

.arrowLeft 
{
    margin-right: 10px;
}

.arrowRight 
{
    margin-left: 10px;
}



